<p id="notice"><%= notice %></p>

<h1 id="page-title">todos</h1>

<section id="todoapp">
  <header id="header">
  <%= link_to 'V', complete_all_path, method: :patch %> </span><%= link_to 'What needs to be done?', new_task_path %>
  </header>
  <table id="main">
    <thead>
      <tr>
        <th></th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <% @tasks.each do |task| %>
        <tr>
          <td><%= button_to task.completed ? "[X]" : "[ ]", toggle_complete_task_path(task), method: :patch %></td>
          <td <%= 'class=completed' if task.completed %> ><%= task.description %></td>
          <td><%= button_to 'Edit', edit_task_path(task) %></td>
          <td><%= button_to 'X', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <footer id="footer">
    <span id="todo-count"><%= Task.where(completed: false).count %> items left.</span>
    <ul id="filters">
      <li class="<%= filter_active?("all") ? "active" : '' %>">
        <%= link_to 'All', filter_tasks_path("all") %>
      </li>
      <li class="<%= filter_active?("active") ? "active" : '' %>">
        <%= link_to 'Active', filter_tasks_path("active") %>
      </li>
      <li class="<%= filter_active?("completed") ? "active" : '' %>">
        <%= link_to 'Completed', filter_tasks_path("completed") %>
      </li>
    </ul>
    <%= link_to 'Clear completed', clear_completed_path, method: :delete, id: "clear_completed" %>
  </footer>
</section>
<br>

