<p id="notice"><%= notice %></p>

<h1 id="page-title">todos</h1>

<section id="todoapp">
  <table id="main">
    <thead>
      <tr>
        <th><%= link_to raw("<i class='fa fa-chevron-down fa-2  x'></i>"), complete_all_path, method: :patch %></th>
        <th colspan="3" id="form-header">
          <%= form_for :task, url: { action: :create }, id: "new-task-form" do |f| %>
            <%= f.text_field :description, placeholder: "What is to be done?" %>
            <%= f.submit %>
          <% end %>
        </th>
      </tr>
    </thead>
    <tbody>
      <% @tasks.each do |task| %>
        <tr>
          <td><%= %></td>
          <td><%= button_to "", toggle_complete_task_path(task), method: :patch, class: "toggle" %></td>
          <td <%= 'class=completed' if task.completed %> class="task-description"><%= task.description %></td>
          <td><%= button_to 'Edit', edit_task_path(task) %></td>
          <td><%= button_to 'X', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <footer id="footer">
    <span id="todo-count"><%= pluralize(Task.where(completed: false).count, "item") %> left.</span>
    <ul id="filters">
      <li class="<%= filter_active?("all") ? "active" : '' %>">
        <%= link_to 'All', filter_tasks_path("all") %>
      </li>
      <li class="<%= filter_active?("active") ? "active" : '' %>">
        <%= link_to 'Active', filter_tasks_path("active") %>
      </li>
      <li class="<%= filter_active?("completed") ? "active" : '' %>">
        <%= link_to 'Completed', filter_tasks_path("completed") %>
      </li>
    </ul>
    <%= link_to 'Clear completed', clear_completed_path, method: :delete, id: "clear_completed" %>
  </footer>
</section>
<br>

